{% if settings.home_section_1 != blank %}
  {% include settings.home_section_1 %}
{% endif %}

<div class="testimonial_wrap">
  <h2 class="section-header__title text-center">Testimonials</h2>
<div class="flexslider2">  
  <ul class="slides">
    <li class="slide">      
      <div class="grid-uniform">
        <div class="grid__item small--one-whole medium--one-whole one-quarter text-center">
          <img src="https://cdn.shopify.com/s/files/1/1233/9260/files/Segal_jewelry_review.jpg?224264327053659182" alt="Segal Jewelry Tome and Samie review" />
        </div>
        <div class="grid__item small--one-whole medium--one-whole three-quarters testimonial_data">
          <h3 >Tom &amp; Samie - United Kingdom</h3>
          <div class="star_wrap large--hide wide--hide">
            <span class="star_fill"></span>
            <span class="star_fill"></span>
            <span class="star_fill"></span>
            <span class="star_fill"></span>
            <span class="star_fill"></span>
          </div>
          <h4>
            The ring is absolutely beautiful and the service I received from Yaniv was beyond excellent! He made the service so personal and it's so refreshing to deal with a seller / creator that strives to make everything perfect. I can't thank him enough for all of his help and would definitely use Segal Jewelry again!
          </h4>
          <div class="star_wrap medium--hide">
            <span class="star_fill"></span>
            <span class="star_fill"></span>
            <span class="star_fill"></span>
            <span class="star_fill"></span>
            <span class="star_fill"></span>
          </div>
        </div>
      </div>
    </li>
    <li class="slide">      
      <div class="grid-uniform">
        <div class="grid__item small--one-whole medium--one-whole one-quarter text-center">
          <img src="https://cdn.shopify.com/s/files/1/1233/9260/files/edgar-review.png?8472605842853345594" alt="Segal Jewelry Tome and Samie review" />
        </div>
        <div class="grid__item small--one-whole medium--one-whole three-quarters testimonial_data">
          <h3 >Edgar - USA</h3>
          <div class="star_wrap large--hide wide--hide">
            <span class="star_fill"></span>
            <span class="star_fill"></span>
            <span class="star_fill"></span>
            <span class="star_fill"></span>
            <span class="star_fill"></span>
          </div>
          <h4>
            Totally in love with the customer service and dedication Yaniv gives to his clients . My beloved girlfriend, now fiancee, is totally in love with her ring and so am I. The quality and level of craftsmanship is just sublime. If you want something unique that would have her friends saying wow!, I would totally recommend you check what Segal Jewelry has to offer.
          </h4>
          <div class="star_wrap medium--hide">
            <span class="star_fill"></span>
            <span class="star_fill"></span>
            <span class="star_fill"></span>
            <span class="star_fill"></span>
            <span class="star_fill"></span>
          </div>
        </div>
      </div>
    </li>
    
    <li class="slide">      
      <div class="grid-uniform">
        <div class="grid__item small--one-whole medium--one-whole one-quarter text-center">
          <img src="https://cdn.shopify.com/s/files/1/1233/9260/files/eva-set-pagie.png?17402970845812015320" alt="Segal Jewelry David review" />
        </div>
        <div class="grid__item small--one-whole medium--one-whole three-quarters testimonial_data" >
          <h3 > Paige - USA</h3>
          <div class="star_wrap large--hide wide--hide">
            <span class="star_fill"></span>
            <span class="star_fill"></span>
            <span class="star_fill"></span>
            <span class="star_fill"></span>
            <span class="star_fill"></span>
          </div>
          <h4>
            Was super thrilled when I received my engagement ring last year and I can't wait to wear both of them after my wedding :) they are beautifully made and totally unique.
          </h4>    
          <div class="star_wrap medium--hide">
            <span class="star_fill"></span>
            <span class="star_fill"></span>
            <span class="star_fill"></span>
            <span class="star_fill"></span>
            <span class="star_fill"></span>
          </div>
        </div>
      </div>
    </li>    
    <li class="slide">      
      <div class="grid-uniform">
        <div class="grid__item small--one-whole medium--one-whole one-quarter text-center">
          <img src="https://cdn.shopify.com/s/files/1/1233/9260/files/ethan.png?4267907577739438068" alt="Segal Jewelry Ethan review" />
        </div>
        <div class="grid__item small--one-whole medium--one-whole three-quarters testimonial_data" >
          <h3 >Ethan - USA</h3>
          <div class="star_wrap large--hide wide--hide">
            <span class="star_fill"></span>
            <span class="star_fill"></span>
            <span class="star_fill"></span>
            <span class="star_fill"></span>
            <span class="star_fill"></span>
          </div>
          <h4>
            I couldn't be more happier with the communication, small amout of time i gave to have the ring created (2 weeks),speed of the delivery and also the ring of course. Yaniv did his all mighty best to get my ring created with the size, chosen stone and metal all in such a short time and posted in time for me to take on a wild journey to the other side of the world to propose to my now fiancée. I couldn't be more happier and my fiancée is im love wiyh her gorgeous dazzling ring. Thanks Yaniv you did a spectacular job especially with communication and speed cheers.
          </h4>
          <div class="star_wrap medium--hide">
            <span class="star_fill"></span>
            <span class="star_fill"></span>
            <span class="star_fill"></span>
            <span class="star_fill"></span>
            <span class="star_fill"></span>
          </div>
        </div>
      </div>
    </li>    
    <li class="slide">      
      <div class="grid-uniform">
        <div class="grid__item small--one-whole medium--one-whole one-quarter text-center">
          <img src="https://cdn.shopify.com/s/files/1/1233/9260/files/taylor.png?3544861258481684097" alt="Segal Jewelry Taylor review" />
        </div>
        <div class="grid__item small--one-whole medium--one-whole three-quarters testimonial_data" >
          <h3 >Taylor - USA</h3>
          <div class="star_wrap large--hide wide--hide">
            <span class="star_fill"></span>
            <span class="star_fill"></span>
            <span class="star_fill"></span>
            <span class="star_fill"></span>
            <span class="star_fill"></span>
          </div>
          <h4>
            My girlfriend (now fiancé) loves this ring and it fit her finger and personality perfectly. Could not be more pleased with Yaniv’s responsiveness throughout the entire process. Will definitely be ordering from him again. And soon; next up, wedding band!
          </h4>
          <div class="star_wrap medium--hide">
            <span class="star_fill"></span>
            <span class="star_fill"></span>
            <span class="star_fill"></span>
            <span class="star_fill"></span>
            <span class="star_fill"></span>
          </div>
        </div>
      </div>
    </li>    
  </ul>
</div>
</div>

{%comment%}
<div class="grid-uniform promo-images">
  <div class="grid__item small--one-whole medium--one-half one-quarter">
    <img src="https://cdn.shopify.com/s/files/1/1233/9260/files/Segal_Jewelry_Free_Shipping.jpg?16461865866945371466" alt="Segal Jewelry Free Shipping" /><br>
    <center>
      Free shipping worldwide<br>
      Express secured shipping
    </center>
  </div>
  <div class="grid__item small--one-whole medium--one-half one-quarter">
    <img src="https://cdn.shopify.com/s/files/1/1233/9260/files/Segal_jewelry_100__Satisfaction_guranteed.jpg?16461865866945371466" alt="Segal Jewelry satisfaction guranteed" />
    <center>
      We guarnatee your satisfaction<br>
      It's our first priority!
    </center>      
  </div>
  <div class="grid__item small--one-whole medium--one-half one-quarter">
    <img src="https://cdn.shopify.com/s/files/1/1233/9260/files/Segal_Jewelry_Financial_options.jpg?16461865866945371466" alt="Engagement Ring Financial Options" />
    <center>
      Don't have the required amount?<br>
      <a href="https://segaljewellery.com/community/contact">Contact us for finanical options</a>
    </center>            
  </div>
  <div class="grid__item small--one-whole medium--one-half one-quarter">
    <img src="https://cdn.shopify.com/s/files/1/1233/9260/files/Segal_jewelry_Certification_of_authenticity.jpg?16461865866945371466" alt="Segal Jewelry certification" />
    <center>
      We are providing all certifications<br>
      For your security
    </center>     
  </div>
</div>
{%endcomment%}


{% if settings.home_section_2 != blank %}
  <hr class="hr--clear hr--small">
  {% include settings.home_section_2 %}
{% endif %}

{% if settings.home_section_3 != blank %}
  <hr class="hr--clear hr--small">
  {% include settings.home_section_3 %}
{% endif %}

{% if settings.home_section_4 != blank %}
  <hr class="hr--clear hr--small">
  {% include settings.home_section_4 %}
{% endif %}

<div class="grid-uniform promo_images_home" id="gemstone">
  <div class="grid__item">
    <h2 class="section-header__title text-center">    
      Shop By Gemstone   
    </h2>
  </div>  
  <div class="grid__item one-fifth">
    <a href="https://segaljewellery.com/collections/white-diamond">
      <h3 class="text-center">White Diamond</h3>
      <img src="https://cdn.shopify.com/s/files/1/1233/9260/files/White-Diamond.jpg?4581333360875274260" alt="Segal Jewelry White Diamond">
    </a>
  </div>
  <div class="grid__item one-fifth">
    <a href="https://segaljewellery.com/collections/black-diamond">
      <h3 class="text-center">Black Diamond</h3>
      <img src="https://cdn.shopify.com/s/files/1/1233/9260/files/black-diamond.jpg?4581333360875274260" alt="Segal Jewelry Black Diamond">
    </a>
  </div>    
  <div class="grid__item one-fifth">
    <a href="https://segaljewellery.com/collections/green-emerald">
      <h3 class="text-center">Green Emerald</h3>
      <img src="https://cdn.shopify.com/s/files/1/1233/9260/files/Emerald.jpg?4581333360875274260" alt="Segal Jewelry Green Emerald">
    </a>
  </div>    
  <div class="grid__item one-fifth">
    <a href="https://segaljewellery.com/collections/red-ruby">
      <h3 class="text-center">Red Ruby</h3>
      <img src="https://cdn.shopify.com/s/files/1/1233/9260/files/Ruby.jpg?4581333360875274260" alt="Segal Jewelry Ruby">
    </a>
  </div>  
  <div class="grid__item one-fifth">
    <a href="https://segaljewellery.com/collections/blue-sapphire">
      <h3 class="text-center">Blue Sapphire</h3>
      <img src="https://cdn.shopify.com/s/files/1/1233/9260/files/Sapphire.jpg?4581333360875274260" alt="Segal Jewelry Sapphire">
    </a>
  </div>      
</div>

<div class="grid-uniform images_gold_color">
  <div class="grid__item">
    <h2 class="section-header__title text-center">    
      Shop By Gold Color    
    </h2>
  </div>
  <div class="grid__item one-third">
    <a href="https://segaljewellery.com/collections/all/red-gold">
      <img src="https://cdn.shopify.com/s/files/1/1233/9260/files/Segal-Jewelry-Rose-Gold.jpg?6637726807683152098" alt="Segal Jewelry Red Gold" />
    </a>
  </div>
  <div class="grid__item one-third">
    <a href="https://segaljewellery.com/collections/all/white-gold">
      <img src="https://cdn.shopify.com/s/files/1/1233/9260/files/Segal-Jewelry-White_Gold.jpg?6637726807683152098" alt="Segal Jewelry White Gold" />
    </a>
  </div>
  <div class="grid__item one-third">
    <a href="https://segaljewellery.com/collections/all/yellow-gold">
      <img src="https://cdn.shopify.com/s/files/1/1233/9260/files/Segal-Jewelry-Yellow-Gold.jpg?6637726807683152098" alt="Segal Jewelry Yellow Gold" />
    </a>
  </div>
</div>


{% if settings.home_section_5 != blank %}
  <hr class="hr--clear hr--small">
  {% include settings.home_section_5 %}
{% endif %}

